@import '../../../../../../styles/theme.css';

.gantt-primary-header-monthly {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  font-weight: 500;
  box-sizing: border-box;
  user-select: none;
  background: #f0f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.gantt-primary-header-quarter-month {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  font-weight: bold;
  user-select: none;
  background: #f0f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gantt-primary-header-yearly {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  font-weight: bold;
  box-sizing: border-box;
  user-select: none;
  background: #f0f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.gantt-primary-header-quarter-year {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  font-weight: bold;
  user-select: none;
  box-sizing: border-box;
  background: #f0f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
