@import '../../../styles/theme.css';

.gnatt-timeline-panel {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow-x: scroll;
  height: 100%;
  user-select: none;
  position: relative;
  z-index: 1;
}

.gnatt-timeline-panel:active {
  cursor: grabbing !important;
}
