.gantt-bar {
  position: absolute;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  overflow: visible;
}

.gantt-bar-cell-overlay {
  position: relative;
  border-radius: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* Important: Allow overflow for resizers */
  overflow: visible;
  width: 100%;
  padding: 0 10px;
  transition: box-shadow 0.2s ease-in-out;
}

.gantt-bar-text-cell {
  display: flex;
  align-items: center;
  gap: 0px !important;
  z-index: 10;
  flex: 1;
  padding: 0 8px;
  position: relative;
}

.gantt-bar-text {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  color: var(--gantt-bar-text-color);
  font-size: var(--gantt-bar-text-font-size);
  font-weight: var(--gantt-bar-text-font-weight);
}

.gnatt-bar-progress-text {
  white-space: nowrap;
  color: var(--gantt-bar-progress-text-color);
  font-size: var(--gantt-bar-progress-text-font-size);
  font-weight: var(--gantt-bar-progress-text-font-weight);
}

.gantt-bar-progress-indicator {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--gantt-bar-progress-indicator-background);
}

.gantt-bar-resize-handle {
  z-index: 35;
  position: absolute;
  background: transparent;
  transition: all 0.2s ease;
  pointer-events: auto;
}

.gantt-bar-resize-handle:hover::before {
  opacity: 1;
}

/* tool tips  */
.gantt-bar-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.15s ease-in-out;
}

.gantt-bar-tooltip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gantt-bar-tooltip-dates {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* additional style  */
