@import '../../../styles/theme.css';

/* panel wrapper  */
.gantt-data-panel {
  display: grid;
  grid-template-rows: auto 1fr;
  /* overflow-x: auto; */
  overflow-y: auto;
  height: 100%;
  border-right: 1px solid var(--gantt-global-border-color);
  border-top: 1px solid var(--gantt-global-border-color);
  border-bottom: 1px solid var(--gantt-global-border-color);
  position: relative;
}

.gantt-data-panel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Panel Header Styles */
.gantt-data-panel-header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  border-bottom: 1px solid var(--gantt-global-border-color);
  height: 48px;
  min-width: max-content;
  background: var(--gantt-data-panel-header-background);
}

.gantt-data-panel-header-cell {
  text-align: left;
  border-left: 1px solid var(--gantt-global-border-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.gantt-data-panel-header-cell-content {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-weight: var(--gantt-data-panel-header-font-weight);
  font-size: var(--gantt-data-panel-header-font-size);
}

/* Panel Data Row */
.gantt-data-panel-row-container {
  display: grid;
  min-width: max-content;
  overflow: hidden;
  border-bottom: 1px solid var(--gantt-global-border-color);
}

.gantt-data-panel-collapse-button {
  margin-right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  flex-shrink: 0;
}

.gantt-data-panel-row-cell {
  position: relative;
  border-left: 1px solid var(--gantt-global-border-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  /* background: var(--gantt-data-panel-row-background); */
}

.gantt-data-panel-row-cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  width: 100%;
  font-size: var(--gantt-data-panel-row-font-size);
  font-weight: var(--gantt-data-panel-row-font-weight);
}
.gantt-data-panel-row-cell-action-buttons {
  position: absolute;
  right: 40px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
